@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*test*/
.border{
  border: 1px solid red;
}

/*Color*/
.color-primary
{
  color:hsl(225, 100%, 94%);
}
.bg-color-primary
{
  background-color: hsl(225, 100%, 94%);
}
.color-secondary
{
  color: hsl(245, 75%, 52%)
}
.bg-color-secondary
{
  background-color: hsl(245, 75%, 52%)
}
.very-pale-blue
{
  color: hsl(225, 100%, 98%);
}
.bg-very-pale-blue
{
  background-color: hsl(225, 100%, 98%);
}
.desaturated-blue
{
  color: hsl(224, 23%, 55%);
}
.bg-desaturated-blue
{
  background-color: hsl(224, 23%, 55%);
}
.dark-blue
{
  color: hsl(223, 47%, 23%);
}
.bg-white
{
  background-color: hsl(0, 0%, 100%);
}
.white
{
  color: hsl(0, 0%, 100%);
}


/*Font*/
.red-hat-display
{
  font-family: 'Red Hat Display', Courier, monospace;
}

/*size*/
.size16
{
  font-size: 16px;
}

.size30
{
  font-size: 30px;
  font-weight:900;
}

/*display*/
.flex
{
  display: flex;
}
.flex-between
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.flex-column
{
  display: flex;
  flex-direction: column;
}
.flex-column-center
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}
.flex-column-between
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

* 
{
  margin: 0;
  padding: 0;
  gap:20px;
  font-family: 'Red Hat Display', Courier, monospace;
}
  
main 
{
  background:url(images/pattern-background-desktop.svg);
  background-repeat:repeat-x;

  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-order-summary
{
  width: 450px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.container-image-order-summary img
{
  border-radius: 20px 20px 0 0;
}
.description-order-summary
{
  padding: 40px 50px;
  text-align: center;
}
.description-order-summary p{
  line-height: 150%;
}

.card-annual-plan{
  padding: 25px 30px;
  border-radius: 10px;
  text-align: left;
}
.card-annual-plan h2
{
  font-weight: 900;
}
.card-annual-plan a
{
  font-weight: 700;
  transition: 0.25s;
}
.card-annual-plan a:hover
{
  opacity: 0.7;
  text-decoration: none;
}



.card-order-summary .btn-payment {
	border-radius:10px;
  border: 0px;
	cursor:pointer;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
  transition: 0.25s;
  margin-top: 10px;
  font-weight: 700;
  box-shadow: 0px 20px 13px 0px hsl(244, 100%, 93%);
}
.card-order-summary .btn-payment:hover {
	opacity: 0.7;
}
.card-order-summary .btn-cancel {
  border: 0px;
	cursor:pointer;
	font-weight:bold;
  transition: 0.25s;
  opacity: 0.6;
  font-weight: 900;
  margin: 10px;
}
.card-order-summary .btn-cancel:hover {
  opacity:1;
}


@media all and (min-width: 0px) and (max-width: 600px)
{
  .card-order-summary
  {
    width: 330px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  main
  {
    background:url(images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    position: absolute;
  }
  .container-image-order-summary img
  {
    width: 330px;
    height: auto;
  }
  .description-order-summary
  {
    padding: 30px 20px;
  }
  .card-order-summary p
  {
    font-size: 15px;
  }
  .card-order-summary h1
  {
    font-size: 20px;
  }
  .card-order-summary h2
  {
    font-size: 14px;
  }
  .card-order-summary a
  {
    font-size: 14px;
  }
  .card-order-summary button 
  {
    font-size: 14px;
  }
  .card-annual-plan
  {
    padding: 15px;
  }

  
  footer
  {
    display: none;
  }

  header
  {
    display: none;
  }


}


